
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Gioi Thieu nhà sách</h3>
<h4>
    Sách Đại Học Books là một nhà xuất bản và phát hành sách của Việt Nam, được thành lập từ năm 2008.
</h4>
<h4>
    Sau 10 năm hoạt động và phát triển,  Sách Đại Học Books đã có cống hiến và đóng góp cho ngành xuất bản nước nhà, đến nay đã phát triển trở thành một trong những nhà xuất bản sách có uy tín và chất lượng trên thị trường.
</h4>
<h4>
    Thế mạnh của  Sách Đại Học là các đầu sách cung cấp giáo trình cho các sinh viên đại học nâng cao kiến thức chuyên môn.
</h4>
<h4>
    Nhà Sách v là đơn vị bán lẻ các đầu sách do Thái Hà xuất bản, mang đến những quyển sách quý giá về tâm linh, đạo giáo, sách rèn luyện kỹ năng và phát triển tư duy.
</h4>

